<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/{{{style}}}" />

  </head>
  <body>
    {{! navigation }}
    <nav>
      <div class="nav-container">
        <a href="/" class="home"><span>回到首頁</span></a>
        <div class="nav-list">
          <a href="/about" class="about">About</a>
          <a href="/portfolio" class="portfolio">Portfolio</a>
          <a href="/contact" class="contact">Contact</a>
        </div>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>