<nav>
  <div class="container">
    <div class="nav-title">回到首頁</div>
    <ul class="nav-list">
      <li class="item">About</li>
      <li class="item">Portfolio</li>
      <li class="item">Contact</li>
    </ul>
  </div>
</nav>